.designer .inactive-card {border: solid 1px #CCCCCC; border-bottom: 0; margin-bottom: 1px; border-radius: 10px 10px 0 0; color: #666666; padding: 0 9px 9px 9px;}
.designer .card {border: solid 1px #999999; border-radius: 10px; padding: 0 9px 9px 9px; overflow:hidden;display:block;position:relative;}

/* Element editor */
.designer .element-editor .button {position:absolute;left:175px;}
.designer .element-editor .info {display:inline-block;width:245px;border-top: solid 1px #606060;}
.designer .element-editor .preview {display:inline-block;width:725px;border:solid 1px #606060;}

.element-editor {width:898px;margin: 0 auto;border: solid 1px #999999; border-top: solid 0px; position: relative; top:-10px; background-color: #FFFFFF; border-radius: 0 0 10px 10px; padding:10px;}

