/* Can be used as a base for more specific stylesheets */
.margin.w920.outer-page {position:relative;width:100%}
.margin.w920 .page {position:relative;margin:0px auto;width:920px;background-color:#FFFFFF;} /* A centered 920px wide white column */
.margin .main {padding-top:40px;}
.margin.w920 .main {width:690px;padding-left:230px;} /* A virtual margin at 230px */

/* Global rules */
.margin a {color: #000000;text-decoration: none;}
.margin .error {color:red;}
.animate-vertically {display:block;overflow:hidden;position:relative;}

/* Fields */
.margin .input {margin: 5px 0;}
.margin.w920 .input {width: 920px;margin:5px 0 5px -230px;}
.margin.w920 .input .question {display: inline-block; width:225px; text-align:right; margin-right:5px;}
.margin.w920 .input .answer {display: inline-block; width:575px; }

/* Fragments */
.divtable-column-header {font-weight: bold;}
.divtable-cells {display:inline-block;border-bottom: solid 1px black;}
.divtable-cell {display:inline-block; width:200px;overflow:hidden;white-space:no-wrap;}
