#{extends 'main.html' /}
#{set title:'Home' /}

<h3>Car insurance</h3>
<a href="/StartFlow/index?application=CarInsuranceTest">Start new flow</a>
<br />
Continue flow <a href="/StartFlow/index?application=CarInsuranceTest&caseId=1">1</a> <a href="/StartFlow/index?application=CarInsuranceTest&caseId=2">2</a>

<h3>Designer</h3>
<a href="/StartFlow/index?application=Designer">Start new design</a>
<br />
Continue flow <a href="/StartFlow/index?application=Designer&caseId=carinsurance">carinsurance</a> <a href="/StartFlow/index?application=Designer&caseId=designer">designer</a>
<br />