.yui3-widget-mask {	background-color: #666666; }

/* Global rules */
a {color: #000000;text-decoration: none;}
.error {color:red;}

/* Page elements */
.top-bar {position:fixed; z-index:50000; top:0px; left:0px; width:100%; height: 30px; background-color: #2E2E2E; color: #FFFFFF;}
.top-bar-content {position:relative;width:1000px;margin:0 auto;}
.top-bar-content .application-name {color: #EE4444;font-weight:bold;display:inline-block; margin: 2px 5px;font-size:150%;}
.top-bar-content .minus {color: #DDDDDD;font-weight:bold;font-style:italic;display:inline-block; margin: 2px 10px;font-size:150%;}
.top-bar-content .case-name {color: #DDDDDD;font-weight:bold;font-style:italic;display:inline-block; margin: 2px 5px;font-size:150%;}
.top-bar-content .me {position:absolute;left:500px;top:0px;}
.top-bar-content .me .avatar {width:24px; height:24px;overflow:hidden;background-color:white;margin: 3px; }
.top-bar-content .me .avatar img {width:24px; height:24px;}
.top-bar-content .me .username {position:absolute; top:0px; left:32px; display:inline-block; margin: 2px 5px;font-size:150%; overflow:hidden; white-space: nowrap;}
.show-communicator-button {position:fixed; top:0px; right:0px;}
.communicator {position:fixed; top:0px; right:0px;width:200px;height:100%; background-color:#2E2E2E; color: #FFFFFF;}
.page {position:relative;margin:40px auto;width:1000px;}

/* Fragments */

.column-header {font-weight: bold;}
.cells {display:inline-block;border-bottom: solid 1px black;}
.cell {display:inline-block; width:200px;overflow:hidden;white-space:no-wrap;}

.login {position:fixed; top: 200px; width:100%; }
.login .window {position: relative;margin: 0 auto; width: 400px; background-color: #2E2E2E; color: #FFFFFF; padding: 10px;}

.input {width: 700px;margin:5px 0;}
.input .question {display: inline-block; width:190px; text-align:right; margin-right:10px;}
.input .answer {display: inline-block; width:500px; }

.buttons {width: 100%;margin:5px 0;}

.inactive-card {border: solid 1px #CCCCCC; border-bottom: 0; margin-bottom: 10px; border-radius: 10px 10px 0 0; color: #666666; padding: 10px;}
.card {border: solid 1px #999999; border-radius: 10px; padding: 10px; }

.card h1, .inactive-card h1 {margin: 0 0 5px 0;}

.fragment-debug {position:absolute;margin-top:-12px;width:16px;height:16px;z-index:9000;background-image:url(pencil-small.png)}

.fragment .fragment-debug {margin-left:10px;}
.fragment .fragment .fragment-debug {margin-left:20px;}
.fragment .fragment .fragment .fragment-debug {margin-left:30px;}
.fragment .fragment .fragment .fragment .fragment-debug {margin-left:30px;}
.fragment .fragment .fragment .fragment .fragment .fragment-debug {margin-left:40px;}
.fragment .fragment .fragment .fragment .fragment .fragment .fragment-debug {margin-left:50px;}
.fragment .fragment .fragment .fragment .fragment .fragment .fragment .fragment-debug {margin-left:60px;}
.fragment .fragment .fragment .fragment .fragment .fragment .fragment .fragment .fragment-debug {margin-left:70px;}
.fragment .fragment .fragment .fragment .fragment .fragment .fragment .fragment .fragment .fragment-debug {margin-left:80px;}
.fragment .fragment .fragment .fragment .fragment .fragment .fragment .fragment .fragment .fragment .fragment-debug {margin-left:90px;}